
{% extends 'base.html' %}
{% block head_content %}
    <title>Crear producto</title>
{% endblock %}
{% load static %}
{% block container %}

<div class="container">

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

        {{ name_form }} <br>
    <div id="formAdd">
        {{ formset.management_form }}
        {% for form in formset %}
        {{ form }}
        {% endfor %}
        <br><br>

        <div id="inputs_dinamic">

        </div>

    </div>
            <button type="submit" class="btn btn-primary btn-block mt-5">ENVIAR</button>
            <div class="row pt-5">
                <input type="button" id="addField" class="btn btn-info" value="+ Agregar">
            </div>

    </form>




</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        count = 1;
        $('#addField').click (function(e) {
            var forms = document.querySelector('#id_form-TOTAL_FORMS') // El id lo obtenemos desde el ispaccionador
            forms.value = parseInt(forms.value) + 1;
            console.log(forms.value)
                e.preventDefault();
                        $('#inputs_dinamic').append(`<div id="pinta_${count}"><br>
                                <label for="id_form-${count}-code">Code:</label>
                                <input type="text" name="form-${count}-code" maxlength="30" id="id_form-${count}-code">
                                <label for="id_form-${count}-product">Product:</label>
                                <input type="text" name="form-${count}-product" maxlength="30" id="id_form-${count}-product">
                                <a href="#" class="remover_campo" onclick="eliminar(${count});">Remover</a>
                                </div>`);
                        count++;

        });

        function eliminar(id){
            var forms = document.querySelector('#id_form-TOTAL_FORMS') // El id lo obtenemos desde el ispaccionador
            forms.value = parseInt(forms.value) - 1;
            $('#pinta_'+id).remove()
        }

    </script>



{% endblock %}